(
  pips: {},
  words: {},
  enums: {
    "BANK2.VCC": (
      options: {
        "1V2": [(frame:13,bit:1,invert:false,),],
        "1V5": [(frame:12,bit:1,invert:false,),],
        "1V8": [],
        "2V5": [(frame:12,bit:1,invert:false,),(frame:13,bit:1,invert:false,),],
        "3V3": [(frame:14,bit:1,invert:false,),],
        "NONE": [(frame:14,bit:1,invert:false,),],
      },
      desc: "VccIO of bank 2",
    ),
  },
  conns: {},
)