(
  pips: {},
  words: {},
  enums: {
    "BANK6.VCC": (
      options: {
        "1V2": [(frame:2,bit:1,invert:false,),],
        "1V5": [(frame:3,bit:1,invert:false,),],
        "1V8": [],
        "2V5": [(frame:2,bit:1,invert:false,),(frame:3,bit:1,invert:false,),],
        "3V3": [(frame:1,bit:1,invert:false,),],
        "NONE": [(frame:1,bit:1,invert:false,),],
      },
      desc: "VccIO of bank 6",
    ),
  },
  conns: {},
)