(
  pips: {},
  words: {},
  enums: {
    "CHIP.SPEED": (
      options: {
        "FAST_1V0": [(frame:14,bit:3,invert:true,),(frame:14,bit:5,invert:false,),(frame:15,bit:3,invert:true,),(frame:15,bit:5,invert:false,),],
        "SLOW_1V0": [(frame:14,bit:3,invert:false,),(frame:14,bit:5,invert:true,),(frame:15,bit:3,invert:false,),(frame:15,bit:5,invert:true,),],
      },
    ),
  },
  conns: {},
)