(
  pips: {
    "N1:JCLKOUT_I0": [
      (
        from_wire: "N1:JECLK0_I0",
        bits: [(frame:9,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JECLK1_I0",
        bits: [(frame:9,bit:0,invert:false,),(frame:11,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JECLK2_I0",
        bits: [(frame:9,bit:0,invert:false,),(frame:10,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JECLK3_I0",
        bits: [(frame:9,bit:0,invert:false,),(frame:10,bit:0,invert:false,),(frame:11,bit:0,invert:false,),],
      ),
      (
        from_wire: "N1:JPCLK_I0",
        bits: [(frame:11,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {
    "BANK5.VREF1_USED": (
      options: {
        "OFF": [],
        "ON": [(frame:94,bit:1,invert:false,),],
      },
      desc: "use VREF1 input for bank 5",
    ),
    "DDRDLL.ENA_ROUNDOFF": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:4,bit:0,invert:false,),],
      },
    ),
    "DDRDLL.FORCE_MAX_DELAY": (
      options: {
        "CODE_OR_LOCK_FROM_DLL_LOOP": [],
        "FORCE_LOCK_AND_CODE": [(frame:5,bit:0,invert:false,),],
      },
    ),
    "DDRDLL.GSR": (
      options: {
        "DISABLED": [(frame:1,bit:0,invert:false,),],
        "ENABLED": [],
      },
      desc: "DDRDLL GSR mask",
    ),
    "DDRDLL.RSTMUX": (
      options: {
        "INV": [],
        "RST": [(frame:6,bit:0,invert:false,),],
      },
    ),
  },
  conns: {
    "G:JCODEI00_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1:JCODE0_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI01_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1:JCODE1_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI02_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1:JCODE2_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI03_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1:JCODE3_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI04_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1:JCODE4_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI05_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1:JCODE5_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI06_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1:JCODE6_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI07_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1:JCODE7_DDRDLL_CORE_I1",
      ),
    ],
    "G:JCODEI08_I_DQS_TOP_DLL_CODE_ROUTING_MUX": [
      (
        from_wire: "N1:JCODE8_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JCLKIN_DDRDLL_CORE_I1": [
      (
        from_wire: "N1:JCLKOUT_I0",
      ),
    ],
    "N1:JECLK0_I0": [
      (
        from_wire: "G:JCLKOUT_ECLKDDRL_0",
      ),
    ],
    "N1:JECLK1_I0": [
      (
        from_wire: "G:JCLKOUT_ECLKDDRL_1",
      ),
    ],
    "N1:JECLK2_I0": [
      (
        from_wire: "G:JCLKOUT_ECLKDDRL_2",
      ),
    ],
    "N1:JECLK3_I0": [
      (
        from_wire: "G:JCLKOUT_ECLKDDRL_3",
      ),
    ],
    "N1:JF0": [
      (
        from_wire: "N1:JDCNTL0_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JF1": [
      (
        from_wire: "N1:JDCNTL1_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JF2": [
      (
        from_wire: "N1:JDCNTL2_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JF3": [
      (
        from_wire: "N1:JDCNTL3_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JF4": [
      (
        from_wire: "N1:JDCNTL4_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JF5": [
      (
        from_wire: "N1:JDCNTL5_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JF6": [
      (
        from_wire: "N1:JDCNTL6_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JF7": [
      (
        from_wire: "N1:JDCNTL7_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JFREEZE_DDRDLL_CORE_I1": [
      (
        from_wire: "N1:JCIBMUXOUTC2",
      ),
    ],
    "N1:JPCLK_I0": [
      (
        from_wire: "N1:JCLK1",
      ),
    ],
    "N1:JQ0": [
      (
        from_wire: "N1:JDCNTL8_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JQ1": [
      (
        from_wire: "N1:JDIVOSCIB_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JQ2": [
      (
        from_wire: "N1:JLOCK_DDRDLL_CORE_I1",
      ),
    ],
    "N1:JRST_DDRDLL_CORE_I1": [
      (
        from_wire: "N1:JLSR1",
      ),
    ],
    "N1:JUDDCNTL_N_DDRDLL_CORE_I1": [
      (
        from_wire: "N1:JCIBMUXOUTD1",
      ),
    ],
  },
  always_on: [
    (
      frame: 27,
      bit: 0,
      invert: false,
    ),
  ],
)