(
  pips: {
    "E1:JFBKCK_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JFBKCLK0_FBMUX_CORE_I_FBKMUX",
        bits: [],
      ),
      (
        from_wire: "E1:JFBKCLK10_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:4,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK11_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:4,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK12_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:5,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK13_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:5,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK14_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:4,bit:2,invert:false,),(frame:5,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK15_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:4,bit:2,invert:false,),(frame:5,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK1_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK2_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:4,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK3_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:4,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK4_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:5,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK5_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:5,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK6_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:4,bit:2,invert:false,),(frame:5,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK7_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:4,bit:2,invert:false,),(frame:5,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK8_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:6,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JFBKCLK9_FBMUX_CORE_I_FBKMUX",
        bits: [(frame:3,bit:2,invert:false,),(frame:6,bit:2,invert:false,),],
      ),
    ],
    "E1:JREFCK_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "E1:JREFCLK10_REFMUX_CORE_I_REFMUX",
        bits: [],
      ),
      (
        from_wire: "E1:JREFCLK11_REFMUX_CORE_I_REFMUX",
        bits: [(frame:9,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK12_REFMUX_CORE_I_REFMUX",
        bits: [(frame:10,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK13_REFMUX_CORE_I_REFMUX",
        bits: [(frame:9,bit:1,invert:false,),(frame:10,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK14_REFMUX_CORE_I_REFMUX",
        bits: [(frame:11,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK15_REFMUX_CORE_I_REFMUX",
        bits: [(frame:9,bit:1,invert:false,),(frame:11,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK16_REFMUX_CORE_I_REFMUX",
        bits: [(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK17_REFMUX_CORE_I_REFMUX",
        bits: [(frame:9,bit:1,invert:false,),(frame:10,bit:1,invert:false,),(frame:11,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK20_REFMUX_CORE_I_REFMUX",
        bits: [(frame:10,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK21_REFMUX_CORE_I_REFMUX",
        bits: [(frame:10,bit:2,invert:false,),(frame:14,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK22_REFMUX_CORE_I_REFMUX",
        bits: [(frame:10,bit:2,invert:false,),(frame:15,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK23_REFMUX_CORE_I_REFMUX",
        bits: [(frame:10,bit:2,invert:false,),(frame:14,bit:1,invert:false,),(frame:15,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK24_REFMUX_CORE_I_REFMUX",
        bits: [(frame:0,bit:2,invert:false,),(frame:10,bit:2,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK25_REFMUX_CORE_I_REFMUX",
        bits: [(frame:0,bit:2,invert:false,),(frame:10,bit:2,invert:false,),(frame:14,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK26_REFMUX_CORE_I_REFMUX",
        bits: [(frame:0,bit:2,invert:false,),(frame:10,bit:2,invert:false,),(frame:15,bit:1,invert:false,),],
      ),
      (
        from_wire: "E1:JREFCLK27_REFMUX_CORE_I_REFMUX",
        bits: [(frame:0,bit:2,invert:false,),(frame:10,bit:2,invert:false,),(frame:14,bit:1,invert:false,),(frame:15,bit:1,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {},
  conns: {
    "E1:JBINACT0_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTB0",
      ),
    ],
    "E1:JBINACT1_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTB1",
      ),
    ],
    "E1:JBINTEST0_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTB2",
      ),
    ],
    "E1:JBINTEST1_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTB3",
      ),
    ],
    "E1:JCIBDIR_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTC4",
      ),
    ],
    "E1:JCIBDSEL0_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTC2",
      ),
    ],
    "E1:JCIBDSEL1_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTC1",
      ),
    ],
    "E1:JCIBDSEL2_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTC0",
      ),
    ],
    "E1:JCIBLDREG_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTB3",
      ),
    ],
    "E1:JCIBROT_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTC3",
      ),
    ],
    "E1:JDIRDELP1_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTB5",
      ),
    ],
    "E1:JDIRDEL_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTB4",
      ),
    ],
    "E1:JENCLKOP_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTA0",
      ),
    ],
    "E1:JENCLKOS2_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTA2",
      ),
    ],
    "E1:JENCLKOS3_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTA3",
      ),
    ],
    "E1:JENCLKOS4_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTA4",
      ),
    ],
    "E1:JENCLKOS5_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTA5",
      ),
    ],
    "E1:JENCLKOS_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTA1",
      ),
    ],
    "E1:JENEXT_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JENEXT_FBMUX_CORE_I_FBKMUX",
      ),
    ],
    "E1:JF0": [
      (
        from_wire: "E1:JREFMUXCK_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JF1": [
      (
        from_wire: "E1:JLOCK_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JF2": [
      (
        from_wire: "E1:JINTLOCK_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JF3": [
      (
        from_wire: "E1:JPFDUP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JF4": [
      (
        from_wire: "E1:JPFDDN_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JF5": [
      (
        from_wire: "E1:JLMMIRDATA0_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JF6": [
      (
        from_wire: "E1:JLMMIRDATA1_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JF7": [
      (
        from_wire: "E1:JLMMIRDATA2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JFBKCK_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JFBKCK_FBMUX_CORE_I_FBKMUX",
      ),
    ],
    "E1:JFBKCLK0_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JINTFBK0_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JFBKCLK10_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E47:JECLKOUT_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBL",
      ),
    ],
    "E1:JFBKCLK11_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JCLK1",
      ),
    ],
    "E1:JFBKCLK1_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JINTFBK1_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JFBKCLK2_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JINTFBK2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JFBKCLK3_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JINTFBK3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JFBKCLK4_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JINTFBK4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JFBKCLK5_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JINTFBK5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JFBKCLK6_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JCLKOUTDL_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JGRAYACT0_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTC0",
      ),
    ],
    "E1:JGRAYACT1_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTC1",
      ),
    ],
    "E1:JGRAYACT2_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTC2",
      ),
    ],
    "E1:JGRAYACT3_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTC3",
      ),
    ],
    "E1:JGRAYACT4_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTA0",
      ),
    ],
    "E1:JGRAYTEST0_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTD3",
      ),
    ],
    "E1:JGRAYTEST1_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTD4",
      ),
    ],
    "E1:JGRAYTEST2_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTD5",
      ),
    ],
    "E1:JGRAYTEST3_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTD6",
      ),
    ],
    "E1:JGRAYTEST4_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTA2",
      ),
    ],
    "E1:JINTLOCK_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JINTLOCK_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JLEGACY_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTD0",
      ),
    ],
    "E1:JLGYRDYN_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JLEGRDYN_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JLMMICLK_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCLK1",
      ),
    ],
    "E1:JLMMIOFFSET0_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTB4",
      ),
    ],
    "E1:JLMMIOFFSET1_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTB5",
      ),
    ],
    "E1:JLMMIOFFSET2_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTB6",
      ),
    ],
    "E1:JLMMIOFFSET3_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTB7",
      ),
    ],
    "E1:JLMMIOFFSET4_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTC4",
      ),
    ],
    "E1:JLMMIOFFSET5_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTC5",
      ),
    ],
    "E1:JLMMIOFFSET6_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTC6",
      ),
    ],
    "E1:JLMMIREQUEST_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTA6",
      ),
    ],
    "E1:JLMMIRESETN_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JLSR0",
      ),
    ],
    "E1:JLMMIWDATA0_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTD2",
      ),
    ],
    "E1:JLMMIWDATA1_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTD3",
      ),
    ],
    "E1:JLMMIWDATA2_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTD4",
      ),
    ],
    "E1:JLMMIWDATA3_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTD5",
      ),
    ],
    "E1:JLMMIWDATA4_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTA4",
      ),
    ],
    "E1:JLMMIWDATA5_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTA5",
      ),
    ],
    "E1:JLMMIWDATA6_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTA6",
      ),
    ],
    "E1:JLMMIWDATA7_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTA7",
      ),
    ],
    "E1:JLMMIWRRDN_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTA7",
      ),
    ],
    "E1:JOPCGLDCK_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E2:JCLK0",
      ),
    ],
    "E1:JPLLPDN_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTD2",
      ),
    ],
    "E1:JPLLRESET_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JLSR1",
      ),
    ],
    "E1:JQ0": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JQ1": [
      (
        from_wire: "E1:JCLKOS_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JQ2": [
      (
        from_wire: "E1:JCLKOS2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JQ3": [
      (
        from_wire: "E1:JCLKOS3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JQ4": [
      (
        from_wire: "E1:JCLKOS4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JQ5": [
      (
        from_wire: "E1:JCLKOS5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JQ6": [
      (
        from_wire: "E1:JLMMIRDATA3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JQ7": [
      (
        from_wire: "E1:JLMMIREADY_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E1:JREFCK_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JREFCK_REFMUX_CORE_I_REFMUX",
      ),
    ],
    "E1:JREFCLK11_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "E1:JCLK0",
      ),
    ],
    "E1:JREFCLK13_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "N25:JINCK_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
      (
        from_wire: "N25:JPADDI_SEIO33_CORE_IOA",
      ),
    ],
    "E1:JREFCLK14_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "S1E8:JINCK_IOLOGIC_CORE_I_GEARING_PIC_TOP_A",
      ),
      (
        from_wire: "S1E8:JPADDI_DIFFIO18_CORE_IOA",
      ),
    ],
    "E1:JREFCLK15_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "S1E44:JINCK_IOLOGIC_CORE_I_GEARING_PIC_TOP_A",
      ),
      (
        from_wire: "S1E44:JPADDI_DIFFIO18_CORE_IOA",
      ),
    ],
    "E1:JREFCLK16_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "S1E6:JINCK_IOLOGIC_CORE_I_GEARING_PIC_TOP_A",
      ),
      (
        from_wire: "S1E6:JPADDI_DIFFIO18_CORE_IOA",
      ),
    ],
    "E1:JREFCLK21_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "N1E1:JCLK0",
      ),
    ],
    "E1:JREFCLK23_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "N23:JINCK_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
      (
        from_wire: "N23:JPADDI_SEIO33_CORE_IOA",
      ),
    ],
    "E1:JREFCLK25_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "S1E40:JINCK_IOLOGIC_CORE_I_GEARING_PIC_TOP_A",
      ),
      (
        from_wire: "S1E40:JPADDI_DIFFIO18_CORE_IOA",
      ),
    ],
    "E1:JREFCLK26_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "S1E8:JINCK_IOLOGIC_CORE_I_GEARING_PIC_TOP_A",
      ),
      (
        from_wire: "S1E8:JPADDI_DIFFIO18_CORE_IOA",
      ),
    ],
    "E1:JREFSEL_REFMUX_CORE_I_REFMUX": [
      (
        from_wire: "E1:JCIBMUXOUTB0",
      ),
    ],
    "E1:JROTDELP1_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTB7",
      ),
    ],
    "E1:JROTDEL_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTB6",
      ),
    ],
    "E1:JSCANCLK_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JCIBMUXOUTD7",
      ),
    ],
    "E1:JSCANRST_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JLSR0",
      ),
    ],
    "E1:JSTDBY_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "N1E1:JCIBMUXOUTD1",
      ),
    ],
    "E1:JWKUPSYNC_FBMUX_CORE_I_FBKMUX": [
      (
        from_wire: "E1:JCIBMUXOUTB2",
      ),
    ],
    "E1:JZRSEL3_PLL_CORE_I_PLL_LMMI": [
      (
        from_wire: "E1:JZRSEL3_REFMUX_CORE_I_REFMUX",
      ),
    ],
    "E47:JLLCLKOP_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBL": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E47:JLLCLKOS2_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBL": [
      (
        from_wire: "E1:JCLKOS2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E47:JLLCLKOS3_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBL": [
      (
        from_wire: "E1:JCLKOS3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E47:JLLCLKOS4_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBL": [
      (
        from_wire: "E1:JCLKOS4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E47:JLLCLKOS5_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBL": [
      (
        from_wire: "E1:JCLKOS5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E47:JLLCLKOS_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBL": [
      (
        from_wire: "E1:JCLKOS_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E48:JLLCLKOP_ECLKBANK_CORE_ECLKBANK5": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E48:JLLCLKOS2_ECLKBANK_CORE_ECLKBANK5": [
      (
        from_wire: "E1:JCLKOS2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E48:JLLCLKOS3_ECLKBANK_CORE_ECLKBANK5": [
      (
        from_wire: "E1:JCLKOS3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E48:JLLCLKOS4_ECLKBANK_CORE_ECLKBANK5": [
      (
        from_wire: "E1:JCLKOS4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E48:JLLCLKOS5_ECLKBANK_CORE_ECLKBANK5": [
      (
        from_wire: "E1:JCLKOS5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E48:JLLCLKOS_ECLKBANK_CORE_ECLKBANK5": [
      (
        from_wire: "E1:JCLKOS_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E49:JLLCLKOP_ECLKBANK_CORE_ECLKBANK4": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E49:JLLCLKOS2_ECLKBANK_CORE_ECLKBANK4": [
      (
        from_wire: "E1:JCLKOS2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E49:JLLCLKOS3_ECLKBANK_CORE_ECLKBANK4": [
      (
        from_wire: "E1:JCLKOS3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E49:JLLCLKOS4_ECLKBANK_CORE_ECLKBANK4": [
      (
        from_wire: "E1:JCLKOS4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E49:JLLCLKOS5_ECLKBANK_CORE_ECLKBANK4": [
      (
        from_wire: "E1:JCLKOS5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E49:JLLCLKOS_ECLKBANK_CORE_ECLKBANK4": [
      (
        from_wire: "E1:JCLKOS_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E50:JLLCLKOP_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E50:JLLCLKOS2_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "E1:JCLKOS2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E50:JLLCLKOS3_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "E1:JCLKOS3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E50:JLLCLKOS4_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "E1:JCLKOS4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E50:JLLCLKOS5_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "E1:JCLKOS5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E50:JLLCLKOS_ECLKBANK_CORE_ECLKBANK3": [
      (
        from_wire: "E1:JCLKOS_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E51:JLLCLKOP_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E51:JLLCLKOS2_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "E1:JCLKOS2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E51:JLLCLKOS3_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "E1:JCLKOS3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E51:JLLCLKOS4_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "E1:JCLKOS4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E51:JLLCLKOS5_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "E1:JCLKOS5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "E51:JLLCLKOS_ECLKLOGICMUXPLLFB_CORE_ECLKPLLFBR": [
      (
        from_wire: "E1:JCLKOS_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOP_BMID_CORE_BMIDMUX": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOP_LMID_CORE_LMIDMUX": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS2_BMID_CORE_BMIDMUX": [
      (
        from_wire: "E1:JCLKOS2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS2_LMID_CORE_LMIDMUX": [
      (
        from_wire: "E1:JCLKOS2_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS3_BMID_CORE_BMIDMUX": [
      (
        from_wire: "E1:JCLKOS3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS3_LMID_CORE_LMIDMUX": [
      (
        from_wire: "E1:JCLKOS3_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS4_BMID_CORE_BMIDMUX": [
      (
        from_wire: "E1:JCLKOS4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS4_LMID_CORE_LMIDMUX": [
      (
        from_wire: "E1:JCLKOS4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS5_BMID_CORE_BMIDMUX": [
      (
        from_wire: "E1:JCLKOS5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS5_LMID_CORE_LMIDMUX": [
      (
        from_wire: "E1:JCLKOS5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS_BMID_CORE_BMIDMUX": [
      (
        from_wire: "E1:JCLKOS_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "G:JLLCLKOS_LMID_CORE_LMIDMUX": [
      (
        from_wire: "E1:JCLKOS_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N1E1:JF3": [
      (
        from_wire: "E1:JLMMIRDATAVALID_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N1E1:JF4": [
      (
        from_wire: "E1:JLMMIRDATA4_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N1E1:JF5": [
      (
        from_wire: "E1:JLMMIRDATA5_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N1E1:JF6": [
      (
        from_wire: "E1:JLMMIRDATA6_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N1E1:JF7": [
      (
        from_wire: "E1:JLMMIRDATA7_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N1E1:JQ0": [
      (
        from_wire: "E1:JREGQA_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N1E1:JQ1": [
      (
        from_wire: "E1:JREGQB_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N1E1:JQ2": [
      (
        from_wire: "E1:JREGQB1_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N3:JSREFCLK_SGMIICDR_CORE": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
    "N4:JSREFCLK_SGMIICDR_CORE": [
      (
        from_wire: "E1:JCLKOP_PLL_CORE_I_PLL_LMMI",
      ),
    ],
  },
)