(
  pips: {},
  words: {},
  enums: {
    "BANK5.DIFF_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:9,bit:0,invert:false,),],
      },
      desc: "use differential IO in bank 5",
    ),
    "BANK5.LVDS_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:5,bit:0,invert:false,),(frame:7,bit:0,invert:false,),],
      },
      desc: "use LVDS IO in bank 5",
    ),
    "BANK5.MIPI_DPHY_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:8,bit:0,invert:false,),],
      },
      desc: "use DPHY IO in bank 5",
    ),
    "BANK5.REF_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:5,bit:0,invert:false,),],
      },
      desc: "use referenced inputs in bank 5",
    ),
    "BANK5.SLVS_IO": (
      options: {
        "OFF": [],
        "ON": [(frame:8,bit:0,invert:false,),],
      },
      desc: "use SLVS IO in bank 5",
    ),
  },
  conns: {},
  always_on: [
    (
      frame: 13,
      bit: 1,
      invert: false,
    ),
  ],
)