(
  pips: {
    "W1:JCLKOUT_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JCLKIN_DLLDEL_CORE_I0",
        bits: [(frame:11,bit:11,invert:false,),],
      ),
    ],
    "W1:JZ_I4_0": [
      (
        from_wire: "G:JD0_I4_0",
        bits: [],
      ),
      (
        from_wire: "G:JD1_I4_0",
        bits: [(frame:15,bit:10,invert:false,),],
      ),
    ],
    "W1:JZ_I4_1": [
      (
        from_wire: "G:JD0_I4_1",
        bits: [],
      ),
      (
        from_wire: "G:JD1_I4_1",
        bits: [(frame:15,bit:10,invert:false,),],
      ),
    ],
    "W1:JZ_I4_2": [
      (
        from_wire: "G:JD0_I4_2",
        bits: [],
      ),
      (
        from_wire: "G:JD1_I4_2",
        bits: [(frame:15,bit:10,invert:false,),],
      ),
    ],
    "W1:JZ_I4_3": [
      (
        from_wire: "G:JD0_I4_3",
        bits: [],
      ),
      (
        from_wire: "G:JD1_I4_3",
        bits: [(frame:15,bit:10,invert:false,),],
      ),
    ],
    "W1:JZ_I4_4": [
      (
        from_wire: "G:JD0_I4_4",
        bits: [],
      ),
      (
        from_wire: "G:JD1_I4_4",
        bits: [(frame:15,bit:10,invert:false,),],
      ),
    ],
    "W1:JZ_I4_5": [
      (
        from_wire: "G:JD0_I4_5",
        bits: [],
      ),
      (
        from_wire: "G:JD1_I4_5",
        bits: [(frame:15,bit:10,invert:false,),],
      ),
    ],
    "W1:JZ_I4_6": [
      (
        from_wire: "G:JD0_I4_6",
        bits: [],
      ),
      (
        from_wire: "G:JD1_I4_6",
        bits: [(frame:15,bit:10,invert:false,),],
      ),
    ],
    "W1:JZ_I4_7": [
      (
        from_wire: "G:JD0_I4_7",
        bits: [],
      ),
      (
        from_wire: "G:JD1_I4_7",
        bits: [(frame:15,bit:10,invert:false,),],
      ),
    ],
    "W1:JZ_I4_8": [
      (
        from_wire: "G:JD0_I4_8",
        bits: [],
      ),
      (
        from_wire: "G:JD1_I4_8",
        bits: [(frame:15,bit:10,invert:false,),],
      ),
    ],
  },
  words: {
    "DLLDEL10.ADJUST": (
      bits: [
        [(frame:3,bit:10,invert:false,),],
        [(frame:4,bit:10,invert:false,),],
        [(frame:5,bit:10,invert:false,),],
        [(frame:6,bit:10,invert:false,),],
        [(frame:7,bit:10,invert:false,),],
        [(frame:8,bit:10,invert:false,),],
        [(frame:9,bit:10,invert:false,),],
        [(frame:10,bit:10,invert:false,),],
        [(frame:11,bit:10,invert:false,),],
      ],
    ),
  },
  enums: {
    "DLLDEL10.CLKINMUX": (
      options: {
        "CLKIN": [],
        "INV": [(frame:13,bit:11,invert:false,),],
      },
    ),
    "DLLDEL10.DEL_ADJUST": (
      options: {
        "MINUS": [(frame:12,bit:10,invert:false,),],
        "PLUS": [],
      },
    ),
    "DLLDEL10.ENABLE": (
      options: {
        "DISABLED": [],
        "ENABLED": [(frame:11,bit:11,invert:false,),],
      },
      desc: "DLLDEL primitive mode",
    ),
  },
  conns: {
    "G:JPCLKT10_RMID_CORE_RMIDMUX": [
      (
        from_wire: "W1:JCLKOUT_DLLDEL_CORE_I0",
      ),
    ],
    "W1:JBYPASS_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JCIBMUXOUTC5",
      ),
    ],
    "W1:JCLKIN_DLLDEL_CORE_I0": [
      (
        from_wire: "N1:JINCK_SIOLOGIC_CORE_IBASE_PIC_A",
      ),
      (
        from_wire: "N1:JPADDI_SEIO33_CORE_IOA",
      ),
    ],
    "W1:JCODE0_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JZ_I4_0",
      ),
    ],
    "W1:JCODE1_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JZ_I4_1",
      ),
    ],
    "W1:JCODE2_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JZ_I4_2",
      ),
    ],
    "W1:JCODE3_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JZ_I4_3",
      ),
    ],
    "W1:JCODE4_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JZ_I4_4",
      ),
    ],
    "W1:JCODE5_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JZ_I4_5",
      ),
    ],
    "W1:JCODE6_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JZ_I4_6",
      ),
    ],
    "W1:JCODE7_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JZ_I4_7",
      ),
    ],
    "W1:JCODE8_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JZ_I4_8",
      ),
    ],
    "W1:JDIR_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JCIBMUXOUTD7",
      ),
    ],
    "W1:JLOAD_N_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JCIBMUXOUTD1",
      ),
    ],
    "W1:JMOVE_DLLDEL_CORE_I0": [
      (
        from_wire: "W1:JCIBMUXOUTC6",
      ),
    ],
    "W1:JQ6": [
      (
        from_wire: "W1:JCOUT_DLLDEL_CORE_I0",
      ),
    ],
  },
)