(
  pips: {},
  words: {},
  enums: {
    "CHIP.SPEED": (
      options: {
        "FAST_1V0": [(frame:0,bit:2,invert:true,),(frame:0,bit:4,invert:false,),(frame:1,bit:2,invert:true,),(frame:1,bit:4,invert:false,),(frame:2,bit:2,invert:true,),(frame:2,bit:4,invert:false,),(frame:3,bit:2,invert:true,),(frame:3,bit:4,invert:false,),(frame:4,bit:2,invert:true,),(frame:4,bit:4,invert:false,),(frame:5,bit:4,invert:false,),(frame:8,bit:3,invert:true,),(frame:9,bit:3,invert:true,),(frame:10,bit:3,invert:true,),(frame:11,bit:3,invert:true,),(frame:12,bit:3,invert:true,),(frame:13,bit:3,invert:true,),(frame:14,bit:3,invert:true,),(frame:15,bit:3,invert:true,),],
        "SLOW_1V0": [(frame:0,bit:2,invert:false,),(frame:0,bit:4,invert:true,),(frame:1,bit:2,invert:false,),(frame:1,bit:4,invert:true,),(frame:2,bit:2,invert:false,),(frame:2,bit:4,invert:true,),(frame:3,bit:2,invert:false,),(frame:3,bit:4,invert:true,),(frame:4,bit:2,invert:false,),(frame:4,bit:4,invert:true,),(frame:5,bit:4,invert:true,),(frame:8,bit:3,invert:false,),(frame:9,bit:3,invert:false,),(frame:10,bit:3,invert:false,),(frame:11,bit:3,invert:false,),(frame:12,bit:3,invert:false,),(frame:13,bit:3,invert:false,),(frame:14,bit:3,invert:false,),(frame:15,bit:3,invert:false,),],
      },
    ),
  },
  conns: {},
)