(
  pips: {},
  words: {},
  enums: {
    "SYSCONFIG.MASTER_SPI_PORT": (
      options: {
        "DISABLE": [],
        "DUAL": [(frame:7,bit:1,invert:false,),],
        "QUAD": [(frame:7,bit:1,invert:false,),],
        "SERIAL": [(frame:7,bit:1,invert:false,),],
      },
      desc: "status of master SPI port after configuration",
    ),
    "SYSCONFIG.SLAVE_I2C_PORT": (
      options: {
        "DISABLE": [],
        "ENABLE": [(frame:7,bit:1,invert:false,),],
      },
      desc: "status of slave I2C port after configuration",
    ),
    "SYSCONFIG.SLAVE_I3C_PORT": (
      options: {
        "DISABLE": [],
        "ENABLE": [(frame:7,bit:1,invert:false,),],
      },
      desc: "status of slave I3C port after configuration",
    ),
    "SYSCONFIG.SLAVE_SPI_PORT": (
      options: {
        "DISABLE": [],
        "DUAL": [(frame:7,bit:1,invert:false,),],
        "QUAD": [(frame:7,bit:1,invert:false,),],
        "SERIAL": [(frame:7,bit:1,invert:false,),],
      },
      desc: "status of slave SPI port after configuration",
    ),
  },
  conns: {},
)