(
  pips: {
    "G:JVPFS10_TMID_CORE_TMIDMUX": [
      (
        from_wire: "G:JCLKHSBYTE1_TMID_CORE_TMIDMUX",
        bits: [(frame:30,bit:0,invert:false,),(frame:31,bit:0,invert:false,),(frame:32,bit:0,invert:true,),(frame:33,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JMIPIDPHY0RX_TMID_CORE_TMIDMUX",
        bits: [(frame:30,bit:0,invert:false,),(frame:31,bit:0,invert:false,),(frame:32,bit:0,invert:false,),(frame:33,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCIECLKRX0_TMID_CORE_TMIDMUX",
        bits: [(frame:30,bit:0,invert:true,),(frame:31,bit:0,invert:false,),(frame:32,bit:0,invert:false,),(frame:33,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCLKCIBT2_TMID_CORE_TMIDMUX",
        bits: [(frame:30,bit:0,invert:false,),(frame:31,bit:0,invert:true,),(frame:32,bit:0,invert:true,),(frame:33,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCLKT00_TMID_CORE_TMIDMUX",
        bits: [(frame:30,bit:0,invert:false,),(frame:31,bit:0,invert:true,),(frame:32,bit:0,invert:false,),(frame:33,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JULCLKOS3_TMID_CORE_TMIDMUX",
        bits: [(frame:30,bit:0,invert:false,),(frame:31,bit:0,invert:false,),(frame:32,bit:0,invert:false,),(frame:33,bit:0,invert:false,),],
      ),
    ],
    "G:JVPFS11_TMID_CORE_TMIDMUX": [
      (
        from_wire: "G:JCLKHSBYTE0_TMID_CORE_TMIDMUX",
        bits: [(frame:35,bit:0,invert:true,),(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JOSCLF_TMID_CORE_TMIDMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCIEUSRCLK0_TMID_CORE_TMIDMUX",
        bits: [(frame:35,bit:0,invert:true,),(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:false,),(frame:38,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCLKCIBT3_TMID_CORE_TMIDMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:36,bit:0,invert:true,),(frame:37,bit:0,invert:true,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCLKT01_TMID_CORE_TMIDMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:36,bit:0,invert:true,),(frame:37,bit:0,invert:false,),(frame:38,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JULCLKOS2_TMID_CORE_TMIDMUX",
        bits: [(frame:35,bit:0,invert:false,),(frame:36,bit:0,invert:false,),(frame:37,bit:0,invert:true,),(frame:38,bit:0,invert:false,),],
      ),
    ],
    "G:JVPFS12_TMID_CORE_TMIDMUX": [
      (
        from_wire: "G:JJTCLK_TMID_CORE_TMIDMUX",
        bits: [(frame:40,bit:0,invert:false,),(frame:41,bit:0,invert:false,),(frame:42,bit:0,invert:false,),(frame:43,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCIECLKRX0_TMID_CORE_TMIDMUX",
        bits: [(frame:40,bit:0,invert:false,),(frame:41,bit:0,invert:false,),(frame:42,bit:0,invert:true,),(frame:43,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCLKCIBT1_TMID_CORE_TMIDMUX",
        bits: [(frame:40,bit:0,invert:true,),(frame:41,bit:0,invert:false,),(frame:42,bit:0,invert:true,),(frame:43,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCLKCIBT4_TMID_CORE_TMIDMUX",
        bits: [(frame:40,bit:0,invert:false,),(frame:41,bit:0,invert:true,),(frame:42,bit:0,invert:false,),(frame:43,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JULCLKOP_TMID_CORE_TMIDMUX",
        bits: [(frame:40,bit:0,invert:false,),(frame:41,bit:0,invert:false,),(frame:42,bit:0,invert:true,),(frame:43,bit:0,invert:false,),],
      ),
    ],
    "G:JVPFS13_TMID_CORE_TMIDMUX": [
      (
        from_wire: "G:JCLKHSBYTE1_TMID_CORE_TMIDMUX",
        bits: [(frame:45,bit:0,invert:false,),(frame:46,bit:0,invert:false,),(frame:47,bit:0,invert:true,),(frame:48,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JMIPIDPHY0TX_TMID_CORE_TMIDMUX",
        bits: [(frame:45,bit:0,invert:false,),(frame:46,bit:0,invert:false,),(frame:47,bit:0,invert:false,),(frame:48,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JOSCHF_TMID_CORE_TMIDMUX",
        bits: [(frame:45,bit:0,invert:false,),(frame:46,bit:0,invert:false,),(frame:47,bit:0,invert:false,),(frame:48,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCIELINKCLK0_TMID_CORE_TMIDMUX",
        bits: [(frame:45,bit:0,invert:true,),(frame:46,bit:0,invert:false,),(frame:47,bit:0,invert:false,),(frame:48,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCLKCIBT1_TMID_CORE_TMIDMUX",
        bits: [(frame:45,bit:0,invert:false,),(frame:46,bit:0,invert:true,),(frame:47,bit:0,invert:false,),(frame:48,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCLKT00_TMID_CORE_TMIDMUX",
        bits: [(frame:45,bit:0,invert:true,),(frame:46,bit:0,invert:false,),(frame:47,bit:0,invert:true,),(frame:48,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JULCLKOS_TMID_CORE_TMIDMUX",
        bits: [(frame:45,bit:0,invert:false,),(frame:46,bit:0,invert:false,),(frame:47,bit:0,invert:true,),(frame:48,bit:0,invert:false,),],
      ),
    ],
    "G:JVPFS14_TMID_CORE_TMIDMUX": [
      (
        from_wire: "G:JMIPIDPHY1RX_TMID_CORE_TMIDMUX",
        bits: [(frame:50,bit:0,invert:false,),(frame:51,bit:0,invert:false,),(frame:52,bit:0,invert:true,),(frame:53,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JOSCLF_TMID_CORE_TMIDMUX",
        bits: [(frame:50,bit:0,invert:false,),(frame:51,bit:0,invert:false,),(frame:52,bit:0,invert:false,),(frame:53,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCIECLKTX0_TMID_CORE_TMIDMUX",
        bits: [(frame:50,bit:0,invert:true,),(frame:51,bit:0,invert:false,),(frame:52,bit:0,invert:false,),(frame:53,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCIEUSRCLK0_TMID_CORE_TMIDMUX",
        bits: [(frame:50,bit:0,invert:true,),(frame:51,bit:0,invert:false,),(frame:52,bit:0,invert:false,),(frame:53,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCLKCIBT2_TMID_CORE_TMIDMUX",
        bits: [(frame:50,bit:0,invert:false,),(frame:51,bit:0,invert:true,),(frame:52,bit:0,invert:false,),(frame:53,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCLKCIBT5_TMID_CORE_TMIDMUX",
        bits: [(frame:50,bit:0,invert:false,),(frame:51,bit:0,invert:true,),(frame:52,bit:0,invert:true,),(frame:53,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JULCLKOS_TMID_CORE_TMIDMUX",
        bits: [(frame:50,bit:0,invert:false,),(frame:51,bit:0,invert:false,),(frame:52,bit:0,invert:true,),(frame:53,bit:0,invert:false,),],
      ),
    ],
    "G:JVPFS15_TMID_CORE_TMIDMUX": [
      (
        from_wire: "G:JJTCLK_TMID_CORE_TMIDMUX",
        bits: [(frame:55,bit:0,invert:false,),(frame:56,bit:0,invert:false,),(frame:57,bit:0,invert:false,),(frame:58,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JMIPIDPHY0RX_TMID_CORE_TMIDMUX",
        bits: [(frame:55,bit:0,invert:false,),(frame:56,bit:0,invert:false,),(frame:57,bit:0,invert:false,),(frame:58,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JMIPIDPHY1TX_TMID_CORE_TMIDMUX",
        bits: [(frame:55,bit:0,invert:false,),(frame:56,bit:0,invert:false,),(frame:57,bit:0,invert:true,),(frame:58,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCLKCIBT0_TMID_CORE_TMIDMUX",
        bits: [(frame:55,bit:0,invert:true,),(frame:56,bit:0,invert:false,),(frame:57,bit:0,invert:true,),(frame:58,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCLKCIBT4_TMID_CORE_TMIDMUX",
        bits: [(frame:55,bit:0,invert:false,),(frame:56,bit:0,invert:true,),(frame:57,bit:0,invert:false,),(frame:58,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JULCLKOS3_TMID_CORE_TMIDMUX",
        bits: [(frame:55,bit:0,invert:false,),(frame:56,bit:0,invert:false,),(frame:57,bit:0,invert:true,),(frame:58,bit:0,invert:false,),],
      ),
    ],
    "G:JVPFS8_TMID_CORE_TMIDMUX": [
      (
        from_wire: "G:JCLKHSBYTE0_TMID_CORE_TMIDMUX",
        bits: [(frame:20,bit:0,invert:false,),(frame:21,bit:0,invert:false,),(frame:22,bit:0,invert:true,),(frame:23,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JMIPIDPHY1RX_TMID_CORE_TMIDMUX",
        bits: [(frame:20,bit:0,invert:true,),(frame:21,bit:0,invert:false,),(frame:22,bit:0,invert:false,),(frame:23,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCIEUSRCLK0_TMID_CORE_TMIDMUX",
        bits: [(frame:20,bit:0,invert:true,),(frame:21,bit:0,invert:false,),(frame:22,bit:0,invert:false,),(frame:23,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCLKCIBT0_TMID_CORE_TMIDMUX",
        bits: [(frame:20,bit:0,invert:false,),(frame:21,bit:0,invert:true,),(frame:22,bit:0,invert:true,),(frame:23,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCLKT00_TMID_CORE_TMIDMUX",
        bits: [(frame:20,bit:0,invert:false,),(frame:21,bit:0,invert:true,),(frame:22,bit:0,invert:false,),(frame:23,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JULCLKOP_TMID_CORE_TMIDMUX",
        bits: [(frame:20,bit:0,invert:false,),(frame:21,bit:0,invert:false,),(frame:22,bit:0,invert:false,),(frame:23,bit:0,invert:false,),],
      ),
    ],
    "G:JVPFS9_TMID_CORE_TMIDMUX": [
      (
        from_wire: "G:JMIPIDPHY0TX_TMID_CORE_TMIDMUX",
        bits: [(frame:25,bit:0,invert:false,),(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:true,),(frame:28,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JMIPIDPHY1TX_TMID_CORE_TMIDMUX",
        bits: [(frame:25,bit:0,invert:true,),(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:false,),(frame:28,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JOSCHF_TMID_CORE_TMIDMUX",
        bits: [(frame:25,bit:0,invert:false,),(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:false,),(frame:28,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCIECLKTX0_TMID_CORE_TMIDMUX",
        bits: [(frame:25,bit:0,invert:true,),(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:true,),(frame:28,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCIELINKCLK0_TMID_CORE_TMIDMUX",
        bits: [(frame:25,bit:0,invert:true,),(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:false,),(frame:28,bit:0,invert:true,),],
      ),
      (
        from_wire: "G:JPCLKCIBT1_TMID_CORE_TMIDMUX",
        bits: [(frame:25,bit:0,invert:false,),(frame:26,bit:0,invert:true,),(frame:27,bit:0,invert:false,),(frame:28,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JPCLKCIBT4_TMID_CORE_TMIDMUX",
        bits: [(frame:25,bit:0,invert:false,),(frame:26,bit:0,invert:true,),(frame:27,bit:0,invert:true,),(frame:28,bit:0,invert:false,),],
      ),
      (
        from_wire: "G:JULCLKOS2_TMID_CORE_TMIDMUX",
        bits: [(frame:25,bit:0,invert:false,),(frame:26,bit:0,invert:false,),(frame:27,bit:0,invert:true,),(frame:28,bit:0,invert:false,),],
      ),
    ],
  },
  words: {},
  enums: {
    "DCC_T10.DCCEN": (
      options: {
        "0": [],
        "1": [(frame:12,bit:0,invert:false,),],
      },
      desc: "DCC bypassed (0) or used as gate (1)",
    ),
    "DCC_T11.DCCEN": (
      options: {
        "0": [],
        "1": [(frame:13,bit:0,invert:false,),],
      },
      desc: "DCC bypassed (0) or used as gate (1)",
    ),
    "DCC_T12.DCCEN": (
      options: {
        "0": [],
        "1": [(frame:14,bit:0,invert:false,),],
      },
      desc: "DCC bypassed (0) or used as gate (1)",
    ),
    "DCC_T13.DCCEN": (
      options: {
        "0": [],
        "1": [(frame:15,bit:0,invert:false,),],
      },
      desc: "DCC bypassed (0) or used as gate (1)",
    ),
    "DCC_T14.DCCEN": (
      options: {
        "0": [],
        "1": [(frame:16,bit:0,invert:false,),],
      },
      desc: "DCC bypassed (0) or used as gate (1)",
    ),
    "DCC_T15.DCCEN": (
      options: {
        "0": [],
        "1": [(frame:17,bit:0,invert:false,),],
      },
      desc: "DCC bypassed (0) or used as gate (1)",
    ),
    "DCC_T8.DCCEN": (
      options: {
        "0": [],
        "1": [(frame:10,bit:0,invert:false,),],
      },
      desc: "DCC bypassed (0) or used as gate (1)",
    ),
    "DCC_T9.DCCEN": (
      options: {
        "0": [],
        "1": [(frame:11,bit:0,invert:false,),],
      },
      desc: "DCC bypassed (0) or used as gate (1)",
    ),
  },
  conns: {},
)